<div class="form-group">

   <% if @topic.title == nil || @topic.title.length < 5 %>
    <div id="error_explanation">
      <h2>Please enter a valid Topic</h2>
    </div>
  <% end %>

  <div class="field">
    <%= form_for @topic do |f| %>
      <%= f.label :title, "New Topic" %>
      <%= f.text_field :title %>

      <%= f.submit "Save" %>
    <% end %>
  </div>
</div>



