<div class="row">
<h1><u>Topics</u>  <small class="smaller">
    <% if current_user %>
      <%= link_to "Add New", new_topic_path %>
    <% end %>
  </small>
</h1>
</div>

<div class="row">
  <% @topics.each do |topic| %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to topic.title, topic %>
          <%# if current_user == topic.user %>  <!-- changed from current_user -->
           <% if policy(topic).edit? %>  <!-- changed from current_user -->
            <small class="little"><%= link_to "Edit", edit_topic_path(topic.id) %></small>
            <small class="little"><%= link_to "Delete", [@topic, topic], method: :delete %></small>
          <% end %>
        </h4>

      </div>
    </div>
  <% end %>
