@import "bootstrap-sprockets";
@import "bootstrap";

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

.smaller {
  font-size: .45em;
  opacity: 0.6;
}
.smaller:hover {
  opacity: 1;
}

.little {
  
  font-size: 0.65em;
  opacity: 0;
  text-decoration: none;
}

.little:hover {
  opacity: 0.75;
  text-decoration: none;
}